<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="CONSOLE" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="org.maxur" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>